<ul class="users">
    {{#each items}}
    <li data-name="{{first_name}} {{last_name}}" data-id="{{id}}">
        <b><img src="{{photo_50}}"/></b>
        <div>{{first_name}} {{last_name}}</div>
    </li>
    {{/each}}
</ul>
